
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dennis Ivanov</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/steev.jpeg' %}" >
					<hr>
					<h4>Hi i am Stephen Olaleye!</h4>
					<p>I am a Python developer and a DevOps Engineer</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Who i am</h4>
					<hr>
					<p>A versatile Python Developer/DevOps Engineer with a proven track record of creating efficient, scalable software solutions and streamlining deployment processes. Experienced in full-stack development, cloud technologies, and automation tools. 
					I have strong problem-solving skills, a commitment to continuous improvement, and a proactive approach to challenges. Adept at collaborating with cross-functional teams to drive project success and enhance operational efficiency. I actively seek opportunities to apply my expertise in delivering robust software and optimising DevOps pipelines.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Professinal Summary</h5>
					<hr>
					<p>Python Developer</p>

					<p>•	Designing, coding, and maintaining Python applications, modules, and libraries to meet project requirements.

					<p>	•	Collaborating with cross-functional teams, including front-end developers, back-end developers, and stakeholders to deliver comprehensive solutions.</p>

					<p>	•	Optimising code for performance and efficiency, ensuring the application runs smoothly and efficiently.</p>

					<p>	•	Conducting unit and integration testing, debugging code, and resolving issues to maintain code 			quality.</p>

					<p>	•	Managing and maintaining code repositories using version control systems such as Git.</p>

					<p>	•	Creating and maintaining technical documentation, including code comments and system architecture 		documentation.</p>

					<p>	•	Integrating third-party APIs and services into Python applications, ensuring seamless data 				exchange.</p>

					<p>	•	Developing and maintaining database structures and queries, often using technologies like SQL or 		 NoSQL databases.</p>
					<p>	•	Implementing security best practices to protect applications and data, including authentication, 		 authorization, and encryption.</p>

					<p>	•	Monitoring and analysing application performance, identifying and addressing bottlenecks and scaling issues.
						</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Professional Summary</h5>
					<hr> DevOps Engineer
					<p>
					<p>•	Actively contributing to the establishment of CI/CD pipelines, gaining hands-on experience in the end-to-end software delivery process.

					<p>	•	Immersed in the world of Infrastructure as Code, utilizing tools like Terraform to automate cloud resource management under mentorship.

					<p>	•	Collaborating with the development team using Git for version control, actively participating in collaborative coding practices.

					<p>	•	Learning the fundamentals of containerization with Docker, contributing to the deployment consistency of applications.

					<p>	•	Actively involved in tasks related to cloud platforms (e.g., AWS, Azure, or Google Cloud), contributing to resource optimization and scalability.

					<p>	•	Exploring scripting languages like Bash and Python to automate routine tasks, enhancing efficiency and automation skills.

					<p>	•	Assisting in the setup and understanding of monitoring tools, actively participating in the identification and response to potential issues.

					<p>	•	Engaging in collaborative problem-solving with the team, providing support and contributing to solutions for improved system performance.

					<p>	•	Developing an understanding of security measures, including authentication and authorization, to contribute to maintaining system integrity.

					<p>	•	Taking the lead in initiating documentation practices for infrastructure configurations and processes, contributing to a comprehensive knowledge base.
									</p>
				<!--	<p>PS: Working on Node JS, Mongo DB and Machine Learning.</p> -->
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Education</h5>
					<hr>
					<p>	•	DevOps Engineering  - Darey.io, Jul 2021 - Present
					<p>	•	Data Science with Python - Simplilearn/Skillup - 2023
					<p>	•	AWS Cloud Computing - Simplilearn/Skillup - 2023
					<p>	•	Cloud computing - Simplilearn/Skillup - 2023
					<p>	•	Bachelor of Technology - BTech - Federal University of Technology Minna - Jan 2009 - Feb 2013</p>

				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects</h5>
				<hr>
				<p>PROJECTS
				<p>	•	DevOps Projects - GitHub-AndromedaIsComingg/Other-Projects: Projects > than 4       
				<p>		Jul 2023 - Present                                                                            
				<p>	•	Python projects - GitHub-AndromedaIsComingg/Python-Projects
           		<p>		Oct 2021 - Present </p>
				

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>